.body{
    display:flex;
}
.img-fluid{
    height: 500px;
    width:100%;
}
.topOfForms{
    display:flex;
}
.topOfForm {
	position: relative;
	background: #00aabb;
    border-radius: .4em;
    justify-content: center;
}

.topOfForm:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 64px solid transparent;
	border-left-color: #00aabb;
	border-right: 0;
	border-top: 0;
	margin-top: -32px;
	margin-right: -64px;
}
.formC{
    display:flex;
}
.form {
    width:500px;
    justify-items: center;
}