body{
    text-align: center;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

#content{
    display:flex;
    flex-direction: column;
}

#sign-up{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

#title{
    margin-bottom: 40px;
}

.form-group input[type='email']{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-group input[type='password']{
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}